# Ignore virtual environments
venv/
__pycache__/

# Ignore dataset files
data/
*.jpg
*.png

# Ignore model checkpoints
*.pt
*.h5

# Ignore system files
.DS_Store
Thumbs.db

# Ignore large data files
data/embeddings.npy
data/faiss_index.bin